@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3D4853;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 140px;
  margin-bottom: 14px;
}

h2 {
  font-size: .8125rem;
  line-height: 1.75rem;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
