.outsidePopover {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popover {
  position: fixed;
  margin-left: 32px;
  margin-top: 419.195px;
  top: 0px;
  left: 0px;
  opacity: 1;
  max-width: 95vw;
  padding: 0.8em;
  border-radius: 0.1em;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  box-shadow: 0 0.2em 1.5em 0 rgb(0 0 0 / 10%), 0 0 1em 0 rgb(0 0 0 / 2%);
  transition: opacity .3s;
}