.radioBtnBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.radioBtn {
  width: 80px;
  height: 32px;
  border: 2px solid #f1f4f8 !important;
  border-radius: 6px !important;
  font-family: 'Poppins', sans-serif;
  color: #3D4853;
  font-size: .8125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
}

.error {
  color: #d32f2f;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  margin-top: 3px;
}

.hidden {
  visibility: hidden;
}