.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 22vw;
  height: auto;
  padding: 30px 32px;
  box-shadow: 2px 0 2px -2px rgb(0 0 0 / 15%);
  overflow-y: auto;
}